@font-face {
  font-family: 'PTSerif';
  src: url(/fonts/PTSerif-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'PTSerif';
  src: url(/fonts/PTSerif-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSerif';
  src: url(/fonts/PTSerif-Italic.woff2) format(woff2);
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Work Sans';
  src: url(/fonts/PTSerif-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url(/fonts/WorkSans-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url(/fonts/WorkSans-ExtraBold.woff2) format(woff2);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* ========================================================================== */
a {
  text-decoration: none;
  transition: all 0.3s ease;
  color: #313030;
}

a:hover {
  color: #2244dc;
}


*,
::before,
::after {
  box-sizing: border-box;
}


:where(ul, ol):where([class]) {
  padding-left: 0;
}


body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}


:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}


p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}


p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}



img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}


input,
textarea,
select,
button {
  font: inherit;
}

html {

  height: 100%;

  scrollbar-gutter: stable;
}


html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}


a:where([class]) {
  display: inline-flex;
}


button,
label {
  cursor: pointer;
}

:where([fill]:not([fill="none"],
    [fill^="url"])) {
  fill: currentColor;
}


:where([stroke]:not([stroke="none"],
    [stroke^="url"])) {
  stroke: currentColor;
}


svg * {
  transition-property: fill, stroke;
}


:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {

  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
}

a {
  font-family: 'Work Sans', sans-serif;
}

html, body {
  font-family: 'PTSerif', sans-serif;
  font-size: 16px;
  color: #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* =============================================================== */



.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.title {
  display: inline-block;
  font-weight: 700;
  color: #252525;
  font-size: 32px;
}



.title::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #252525;
  border-radius: 50%;
  vertical-align: baseline;
  margin-left: 4px;
  position: relative;
  top: 1px;

}

.subtitle {
  font-size: 16px;
  font-weight: 500;
  color: #313030;
}

.button {
  padding: 12px 24px;
  border: 2px solid #313030;
  border-radius: 10px;
  background-color: #2244dc;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif
}

.button:hover {
  background-color: #dcdbdb;
  color: #2244dc;
  border: 2px solid #2244dc;
}

@media(max-width:1023px) {
  .title {
    font-size: 28px;
  }

  .button {
    padding: 10px 20px;
    border: 1px solid #313030;
  }

}

@media(max-width:767px) {
  .title {
    font-size: 24px;
  }

  .button {
    padding: 8px 18px;
    border: 1px solid #313030;
  }

}

@media(max-width:500px) {
  .subtitle {
    font-size: 14px;
  }

}



/* ======================================================= */
.header {
  border-bottom: 1px solid #e3e3e3;

}


.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 40px;
}

.header__list {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

@media(max-width:1023px) {
  .header__list {
    column-gap: 25px;
  }
}

@media(max-width:767px) {
  .header__list {
    column-gap: 20px;
  }
}



@media(max-width:500px) {
  .header__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

/* ============================================== */
.hello {
  padding-block: 80px;
  border-bottom: 1px solid #e3e3e3;
}

.hello__body {
  display: flex;
  column-gap: 30px;
}

.hello__content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}


.hello__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}



.hello__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.hello__contact {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.hello__contacts-title {
  font-weight: 600;
}

.hello__social {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.hello__icons {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.hello__button {
  align-self: flex-start;
}


@media(max-width:1023px) {
  .hello__social {
    column-gap: 30px;
  }

  .hello__contact {
    column-gap: 30px;
  }

  .hello__body {
    column-gap: 20px;
  }

}


@media(max-width:767px) {
  .hello__social {
    column-gap: 20px;
  }

  .hello__contact {
    column-gap: 20px;
  }

  .hello__body {
    column-gap: 10px;
  }

  .hello__icons {
    column-gap: 10px;
  }

}



@media(max-width:685px) {
  .hello__image {
    display: none;
  }

}

/* ===================================== */
.skills {
  padding-block: 80px;
  border-bottom: 1px solid #e3e3e3;
}



.skills__body {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 80px;
}

.skills__body-list:nth-child(1) {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.skills__body-list:nth-child(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  column-gap: 120px;
}

.skills__body-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: flex-start;
}

.skills__body-item:nth-child(1),
.skills__body-item:nth-child(2) {
  border-bottom: 1px solid #e3e3e3;
}


.skills__body-subtitle {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

.skills__body-wrap {
  display: flex;
  column-gap: 5px;
}

@media(max-width:1023px) {
  .skills__body-list:nth-child(2) {
    column-gap: 80px;
  }

  .skills__body {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 50px;
  }
}

@media(max-width:767px) {
  .skills__body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }

  .skills__body-list:nth-child(2) {
    column-gap: 30px;
  }

  .skills__body-subtitle {
    column-gap: 20px;
  }

  .skills__body-item {
    row-gap: 15px;
  }

  .skills__body-icon {
    width: 25px;
    height: 25px;
  }
}

@media(max-width:500px) {
  .skills__body-icon {
    width: 20px;
    height: 20px;
  }

  .skills__body-item {
    row-gap: 10px;
  }
}

/* ============================= */
.portfolio {
  padding-block: 80px;
  border-bottom: 1px solid #e3e3e3;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-top: 20px;
}




.portfolio-item {
  display: flex;
  column-gap: 80px;
}

.portfolio-image-wrap {
  flex: 0 0 40%; 
  width: 100%;
  aspect-ratio: 4/3; 
  overflow: hidden;
  border-radius: 10px;
}

.portfolio-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 600ms cubic-bezier(.22, .61, .36, 1);
  transform-origin: center center;
  will-change: transform;

}

.portfolio-image-wrap:hover .portfolio-image,
.portfolio-image-wrap:focus-within .portfolio-image {
  transform: scale(1.25);
}


.portfolio-body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  justify-content: center;
}

.portfolio__description-subtitle {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 20px;
}

@media(max-width:1023px) {
  .portfolio-item {
    display: flex;
    column-gap: 20px;
  }

  .portfolio-body {
    row-gap: 20px;
  }

  .portfolio__list {
    row-gap: 40px;
  }

  .portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media(max-width:660px) {
  .portfolio-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .portfolio__list {
    row-gap: 80px;
  }

}


/* ================================ */
.contact {
  padding-block: 80px;
  border-bottom: 1px solid #e3e3e3;
}

.contact__list {
  display: flex;
  column-gap: 80px;
}

.contact__item-body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 0 0 40%;
}

.contact__item-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.contact__form-input {
  max-width: 300px;
  padding-block: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e3e3e3;
  transition: border-color 0.3s ease;
}



.contact__form-message {
  border: 1px solid #e3e3e3;
  resize: none;
  height: 100px;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.contact__form-input:hover,
.contact__form-message:hover {
  border: 1px solid #2244dc;
  /* например, серый потемнее */
}

.contact__form-button {
  align-self: flex-end;
}


@media(max-width:776px) {
.contact__list {
    display: flex;
    flex-direction: column;
    
}
}





/* =============================================== */

.footer {
  text-align: center;
  padding-block: 20px;
}