@use 'variables' as *;
@use 'funcsions' as *;
@use 'media' as *;
@use 'mixins' as *;


.container{
    max-width: calc(var(--container-width) + var(--container-padding-x) *2);
    margin-inline: auto;
    padding-inline: var(--container-padding-x);
}


.button{
        padding: rem(20) rem(40);
        border: solid rem(1.5) var(--color-accent);
        border-radius: rem(10);
        background-color:var(--color-font);
        color: var(--color-accent);
        font-size: rem(18);
        font-weight: 600;

          &:hover{
            border-color:var(--color-font) ;
            background-color:var(--color-accent);
            color: var(--color-font);
        }

        @include mobile{
             padding: rem(15) rem(30);
             font-size: rem(16);
        }
 }


 .card-button{
    padding: rem(15) rem(30);
    border: solid rem(1.5) var(--color-accent);
    border-radius: rem(10);
    background-color:var(--color-font);
    color: var(--color-accent);
    font-size: rem(16);
    font-weight: 500;

       &:hover{
            border-color:var(--color-font) ;
            background-color:var(--color-accent);
            color: var(--color-font);
        }

        @include tablet{
             padding: rem(10) rem(25);
        }

        @include mobile{
             padding: rem(8) rem(20);
             font-size: rem(14);
        }

        @include mobile-s{
             padding: rem(6) rem(15);
        }
 }