@use 'normalize';
@use 'mixins';
@use 'media';
@use 'funcsions';
@use 'fonts';
@use 'globals';
@use 'utils';








@use './blocks/header';
@use './blocks/hero';
@use './blocks/footer';
@use './blocks/category';
@use './blocks/card';
@use './blocks/privacy';
@use './blocks/root';
@use './blocks/product';
@use './blocks/modal';










