@use 'variables' as *;
@use 'funcsions' as *;
@use 'media' as *;
@use 'mixins' as *;



body{
    font-family: var(--font-family-base);
    color: var(--color-font);
}

a{
    color: inherit;

    &[class] {
        text-decoration: none;
    }
}



h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: var(--font-family-accent);
    color: #000000;
}


