



@mixin show() {
    opacity: 1;
    visibility: visible;
};

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
};

@mixin abs-y {
    position: absolute;
    top: 50%;
    translate: 0% -50%;
};

@mixin square($size) {
    width: $size;
    height: $size;
};