
@use 'funcsions' as *;
@use 'media' as *;
@use 'mixins' as *;


:root{
     --font-family-base: 'Inter', sans-serif;
     --font-family-accent: 'Kumbh Sans', sans-serif;
     --color-font:#3a3838;
     --color-white:#fff;
     --backround-category:#e9e9eb;

     --color-accent:#FFD11A;

     --container-width: #{rem(1600)};
     --container-padding-x: #{rem(16)};
}