@use '../variables' as *;
@use '../funcsions' as *;
@use '../media' as *;
@use '../mixins' as *;

.card {
    background-color: var(--color-white);
    border: rem(2) solid var(--color-font);
    display: flex;
    flex-direction: column;
    border-radius: rem(8);
    align-items: stretch;
    justify-content: flex-start; 
    
    

    &__wrap-image {
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1/1.2;
        padding: rem(10);

           @include tablet {
            padding: rem(5);
        }
    }

    &__image {
        border-radius: rem(8);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(15);
        align-items: center;
        padding: rem(20);
        text-align: center;
        justify-content: flex-start;
        

        @include laptop{
            row-gap: rem(15);
            padding: rem(6);
        }

        @include mobile{
            row-gap: rem(10);
        }
       
    }

    &__description{
        font-size: rem(22);



         @include laptop{
            font-size: rem(18);
        }

          @include mobile{
            font-size: rem(16);
        }

         @include mobile-s{
            display: none;
        }
    }

    &__price {
        font-size: rem(22);
        font-weight: 600;

          @include laptop{
            font-size: rem(20);
        }

           @include tablet{
            font-size: rem(18);
        }

           @include mobile-s{
            font-size: rem(14);
        }
    }
}