@use '../variables' as *;
@use '../funcsions' as *;
@use '../media' as *;
@use '../mixins' as *;



.category{
    background-color: var(--backround-category);
    &__inner{
        padding-block: rem(120);

        @include laptop{
            padding-block: rem(100);
        }

         @include mobile{
            padding-block: rem(60);
        }
    }

    &__list{
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
         column-gap:rem(50) ;
         row-gap: rem(120);

        @include laptop{
            column-gap:rem(30) ;
            row-gap: rem(90);
        }

        @include tablet{
            grid-template-columns:repeat(3,1fr) ;
            column-gap:rem(25) ;
            row-gap: rem(80);
        }

         @include mobile{
            grid-template-columns:repeat(2,1fr) ;
             column-gap:rem(20) ;
            row-gap: rem(60);
        }

        @include mobile-s{
            
             column-gap:rem(10) ;
            row-gap: rem(50);
        }



    }

    
}