@use '../variables' as *;
@use '../funcsions' as *;
@use '../media' as *;
@use '../mixins' as *;

.footer {
    background-color: var(--color-font);
    padding-block: rem(30);

    @include mobile {
        padding-block: rem(20);
    }

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: rem(30);
        align-items: center;

        @include tablet{
            align-items: flex-start;
        }
    }


    &__title {
        color: var(--color-white);
        font-size: rem(28);
        font-weight: 900;

        @include tablet {
            font-size: rem(26);
        }

        @include mobile {
            font-size: rem(22);
        }
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(40);

        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: rem(40);
            align-items: flex-end;
        }

        
        @include mobile {
            gap: rem(20);
        }
    }

    &__link {
        color: var(--color-white);

        font-size: rem(18);
        font-weight: 600;

        &:hover {
            color: var(--color-accent);
        }

        @include tablet {
            font-size: rem(16);
        }

        @include mobile {
            font-size: rem(14);
        }
    }


    &__icons {
        align-items: center;
        display: flex;
        column-gap: rem(20);

        @include tablet {
            column-gap: rem(15);
        }
    }

    &__icons-link {}

    &__icon {
        color: var(--color-white);
        width: fluid(44, 30);
        height: fluid(44, 30);

        &:hover {
            color: var(--color-accent);
        }
    }

    &__copyright {
        position: absolute;
        right: 0;
        bottom: 0;
        color: var(--color-white);
    }
}