@use '../variables' as *;
@use '../funcsions' as *;
@use '../media' as *;
@use '../mixins' as *;


.header {
    background-color: var(--color-accent);

    padding-block: rem(30);

    @include mobile {
        padding-block: rem(20);
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;


        @include tablet {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            grid-template-areas:
                "logo icons"
                "menu menu";
        }
    }

    &__logo-wrap {
        @include tablet {
            grid-area: logo;
        }
    }

    &__title {
        font-size: rem(28);
        font-weight: 900;

        @include tablet {
            font-size: rem(26);
        }

        @include mobile {
            font-size: rem(22);
        }
    }


    &__menu {
        @include tablet {
            padding-top: rem(30);
            display: flex;
            justify-content: flex-end; 
            align-items: center;
            grid-area: menu;
        }
    }



    &__list {
        display: flex;
        align-items: center;
        column-gap: rem(45);

        @include tablet {
            display: none;
            row-gap: rem(20);
            margin-top: rem(20);
        }


        &.active {
            margin: rem(0);
            padding: rem(0);
            display: flex;
            column-gap: rem(20);
            width: 100%;

            @include mobile {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: rem(16); 
                justify-items: start;

            }

        }

    }

    &__link {
        font-size: rem(18);
        font-weight: 600;

        &:hover {
            color: #0060d6;
        }

        @include tablet {
            font-size: rem(16);
        }

        @include mobile {
            font-size: rem(14);
        }


    }

    &__icons {
        align-items: center;
        display: flex;
        column-gap: rem(20);



        @include tablet {
            grid-area: icons;
            column-gap: rem(15);
        }
    }

    &__icon {
        width: fluid(44, 30);
        height: fluid(44, 30);

        &:hover {
            color: #0060d6;
        }
    }

    &__burger {
        position: relative;
        width: rem(30);
        height: rem(22);
        display: none;
        cursor: pointer;
        border: none;
        background: transparent;

        @include tablet {
            display: block;
        }

         @include mobile {
            width: rem(24);
        }

        span,
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%; 
            width: 100%;
            height: 3px;
            background: var(--color-font);
            transition: 0.3s;
            transform: translateY(-50%); 
        }

    
        &::before {
            transform: translateY(-10px);
        }

        
        &::after {
            transform: translateY(10px);
        }

        
        &.active span {
            opacity: 0; 
        }

        &.active::before {
            transform: rotate(45deg);
        }

        &.active::after {
            transform: rotate(-45deg);
        }
    }

}