@use '../variables' as *;
@use '../funcsions' as *;
@use '../media' as *;
@use '../mixins' as *;

.hero{
  position: relative;
  background-image: 
    linear-gradient(
      to bottom, 
      rgba(0, 0, 0, 0.5),  // сверху полупрозрачный черный
      rgba(0, 0, 0, 0.5)   // снизу чуть темнее
    ),
    url("/img/hero-bgr/look-studio-LLUnsIJn8CE-unsplash.jpg");
  background-size: cover;       /* растянуть на всю секцию */
  background-position: center;  /* центрировать */
  background-repeat: no-repeat; 
  height: auto;
  width: 100%;


  &__inner{
    padding-block: rem(120);

       @include tablet{
        padding-block: rem(80);
    }

    
     @include mobile{
      padding-block: rem(60);
    }
  }

  &__content{
    text-align: center;
    margin-inline:rem(300);
    display: flex;
    flex-direction: column;
    row-gap: rem(100);
    align-items: center;

    @include laptop{
      row-gap: rem(80);
      margin-inline:rem(200);
    }

     @include tablet{
      row-gap: rem(60);
      margin-inline:rem(0);
    }

     @include mobile{
      row-gap: rem(40);
    }
  }

  &__title{
    font-size: rem(74);
    color: var(--color-white);

     @include laptop{
      font-size: rem(66);
    }

     @include tablet{
        font-size: rem(54);
    }

     @include mobile{
      font-size: rem(40);
    }
  }

  &__subtitle{
    font-size: rem(24);
    color: var(--color-white);

      @include tablet{
        font-size: rem(20);
    }

     @include mobile{
        font-size: rem(18);
    }
  }

  
}