@use '../variables' as *;
@use '../funcsions' as *;
@use '../media' as *;
@use '../mixins' as *;


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);



    &__content {
        display: flex;
        flex-direction: column;
        row-gap: rem(30);
        align-items: center;
    }

    &__title {
        color: var(--color-white);
    }

    &__form {
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
        
    }

    &__name {
        color: var(--color-accent);
        padding: rem(15) rem(30);
        border: solid rem(1.5) var(--color-accent);
        border-radius: rem(10);
        background-color: var(--color-font);
        color: var(--color-accent);
        font-size: rem(16);
        font-weight: 500;
    }

    &__phone {
        color: var(--color-accent);
        padding: rem(15) rem(30);
        border: solid rem(1.5) var(--color-accent);
        border-radius: rem(10);
        background-color: var(--color-font);
        color: var(--color-accent);
        font-size: rem(16);
        font-weight: 500;
    }

    &__close {
        font-weight: 900;
    }

    &__success{
        color: var(--color-white);
        font-size: rem(20);
    }
}