@use '../variables' as *;
@use '../funcsions' as *;
@use '../media' as *;
@use '../mixins' as *;

.product {
    &__inner {
        padding-block: rem(90);

         @include tablet {
          padding-block: rem(50);
        }
    }
}

.detail {
    display: flex;
    column-gap: rem(40);
    padding-inline: rem(80);

     @include tablet {
           padding-inline: rem(40);
           flex-direction: column;
        }


        @include mobile {
           padding-inline: rem(0);
        }






    &__img-wrap {
        height: rem(800);
        flex: 0 0 55%; 

        @include laptop {
            flex: 0 0 60%; 
            height: rem(700);
        }

        @include tablet {
           height: rem(500);
           aspect-ratio: 16/12;
        }
    }

    &__img {
        border-radius: rem(10);
        width: 100%;
        height: 100%;
        object-position: center;
        display: block;
        object-fit: cover;
    }

    &__body {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: rem(30);
        align-items: start;

         @include tablet {
           row-gap: rem(15);
        }
    }

    &__subtitle {
        font-size: rem(18);

         @include tablet {
           font-size: rem(16);
        }

         @include mobile-s {
           font-size: rem(14);
        }


    }

    &__price {
        font-size: rem(20);
        font-weight: 600;
    }

    &__button {
        align-self: self-start;
    }

}