#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
  position: relative;
}

html, body {
  font-family: 'PTSerif', sans-serif;
  font-size: 16px;
  color: #1A1A1A;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #FAF9F6;
}

body{
}



@font-face {
  font-family: 'PTSerif';
  src: url(/fonts/PTSerif-Bold.woff2) format(woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'PTSerif';
  src: url(/fonts/PTSerif-Regular.woff2) format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSerif';
  src: url(/fonts/PTSerif-Italic.woff2) format(woff2);
  font-style: normal;
  font-display: swap;
}



.button {
  background-color: #1d9f7e;
  color: #fff;
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05)
}



/* =========================home page======================== */
.title{
  font-size: 50px;
}
.note {
  padding: 0;
  list-style: none;
  margin: 0 auto 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 800px;
}

.note__item {
  align-items: center;
  background-color: #FEFEFC;
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  text-align: left;
  position: relative;
  cursor: pointer;
  text-overflow: ellipsis;
  word-break: break-word;
  transition: transform 0.2s ease-in-out;
  white-space: normal;
  overflow: hidden;
  height: 180px;
}


.note__text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  flex: 1;
  width: 100%;
  height: 100%;
}

.note__icon-wrap {
  align-items: center;
  width: 100%;
  display: flex;
  gap: 20px;
  
}

.note__icon {
  padding: 5px;
  transition: all 0.2s ease-in-out;
  width: 20px;
  height: 20px;
  color: #1d9f7e;
}

.note__icon:hover {
  transform: scale(1.3);
}

.note__date {
  margin-top: auto;
  font-size: 0.8em;
  color: #777;
  text-align: right;
}

.note__textarea{
  width: 100%;
  height: 100%;
}

.note__button-wrap{
  display: flex;
  align-items: center;
  gap: 20px;
}


.note-create{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}


.note-create__textarea{
  width: 100%;
  height: 400px;
  border-radius: 8px;
  border: 2px solid;
  background-color: #f9f9f9;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  resize: none;
}

.note-create__textarea:hover{
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); 
}


.buttons__create{
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #1d9f7e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.buttons__create::before,
.buttons__create::after {
  content: "";
  position: absolute;
  left: 50%;                
  top: 50%;                 
  width: 30px;
  height: 4px;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 2px;
}

.buttons__create::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.buttons__create:hover {
  transform: scale(1.05)
}

.buttons {   
  position: fixed;
  bottom: 0;
  left: 0;       
  width: 100%;
}
.buttons__wrap{
  padding: 0px 20px 20px 20px; 
  display: flex;
  justify-content:space-between;
  align-items: center;
}


 .modal{
  position: fixed;       
  top: 50%;              
  left: 50%;             
  transform: translate(-50%, -50%);
  width: 600px;          
  max-height: 70vh;         
  background-color: #fff; 
  border-radius: 8px;    
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  padding: 20px;         
  z-index: 1000;         
  overflow-y: auto; 
  overflow-wrap: break-word;
  white-space: normal;  
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
 }



.modal-content{
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: space-between;
}

.modal__button{
  align-self: center;
}

 @media(max-width:767px){
  .note {
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.title{
  font-size: 40px;
}

.modal{
    width: 90%;
  }
}

/* =====================login==================== */






.registration {
  margin: 0 auto;
  width: 250px;
  display: flex;
  flex-direction: column;

  &>*:not(:last-child) {
    margin-bottom: 15px;
  }

  &>*:nth-last-child(2) {
    margin-bottom: 10px;
  }
}

.registration__input{
  padding: 10px 20px;
  border-radius: 6px;
}

.my-popup {
  max-width: 350px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: #de0000;
  background-color: #eaeaea;
}


.my-button {
  color: #ffffff;
  background-color: #de0000;
}



.my-button:hover {
  background-color: #1d9f7e;
}

.swal2-warning.swal2-warning {
  width: 40px;
  height: 40px;
  font-size: 1em;
  border-color: #de0000;
  border-width: 0.2em;
}

.swal2-warning.swal2-warning .swal2-icon-content {
  font-size: 2.5em;
  line-height: 1;
  color: #de0000;
}



